@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    background-image: url(../../static/Datos/img/imagen-fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 50px;
    height: 50px;
}

.botones{
    width:190px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-evenly;
    margin: auto;
}
.botones button{
    margin: 10px;
}
#row{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
#row div{
    margin: 10px;
    flex-basis: 31.1%
}
.Buscador{
    display: flex;
    background-color: antiquewhite;
    width:100px;
    margin: auto;
}
.card{
    flex-basis: 33.333333%
}


