@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: url(../../static/Datos/img/imagen-fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 800px;
    margin:auto;
    margin-bottom:25px;
    width:auto;
    
}

#container .content {
    margin: auto;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.image {
    width: 50px;
    height: 50px;
}

.botones {
    width: 190px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
}

.botones button {
    margin: 10px;
}





.Buscador {
    width: 140px;
    margin: auto;

}

#entrada {
    border-radius: 3px;
    height: 40px;
    background-color: #222f3b;
    color: rgb(241, 229, 229);
    float: left;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

#entrada:hover {
    box-shadow: 0px -2px 38px 0px rgba(0, 255, 32, 0.75);
}

#entrada::placeholder {
    color: white;
}

#boton {
    border-radius: 3px;
    background-color: white;
    height: 40px;
    width: 40px;
    float: right;
    border: 0;
}

#row {
    
    align-items: center;
    position: relative;
    max-width: 800px;
    margin-bottom:25px;
    margin: 10px;
    
    
}


#row .content {
    

    
    margin: auto;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
   
    background: rgba(0, 0, 0, 0.5);

    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.flexi{
    display: flex;
    flex-wrap: wrap;

    
}
.flexi div{
    flex:  31.333333%;
  
}