<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <script src="../../static/Datos/js.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'Datos/css.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curious</title>

</head>

<body>
  <form class="Buscador" action="" method="GET">
    <input title="Bucar por id o nombre de creador" id="entrada" style="width:100px;" type="text" placeholder="Buscar"
      name='buscar' value="{{request.GET.buscar}}">
    <button id="boton" type='submit'><img style="width: 17px;" src="../../static/Datos/img/lupa.svg" alt=""></button>
  </form>


  <div class="botones" aria-label="Basic example">
    <button onclick='column()' type="button" class="btn btn-primary"><img src="../../static/Datos/img/row.svg" alt=""
        style="width:30px;height:30px;"></button>
    <a href="{% url 'sorted_two' %}">
      <button onclick="row()" type="button" class="btn btn-primary"><img src="../../static/Datos/img/grid.svg" alt=""
          style="width:30px;height:30px;"></button>
    </a>
  </div>

  {% for i in shuffle_data %}
  {% if i.allow == True %}
  {% if i.imagen %}
  <div id='container'>
    <img class="card-img-top" style="border-radius: 10px;" src="{{i.imagen.url}}" alt="Card image cap">
    <div class="w3-display-topleft w3-container" style="color: white;font-family: 'Itim', cursive;font-size:1.4em">
      #{{i.id}}</div>
    <div class="content">

      <h5 class="card-title justify-content-center">{{ i.autor }}</h5>
      <p style="text-align:center;" class="card-text">{{ i.contenido }}</p>

    </div>
  </div>
  {% endif %}

  {% endif %}
  {% endfor %}
  </div>
</body>

</html>