<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <script src="../../static/Datos/js.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'Datos/css.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curious</title>

</head>

<body>
  <form class="Buscador" action="" method="GET">
    <input title="Bucar por id o nombre de creador" id="entrada" style="width:100px;" type="text" placeholder="Buscar"
      name='buscar' value="{{request.GET.buscar}}">
    <button id="boton" type='submit'><img style="width: 17px;bottom: 0;" src="../../static/Datos/img/lupa.svg"
        alt=""></button>
  </form>


  <div class="botones" aria-label="Basic example">
    <a href="{% url 'sorted_data'%}">
      <button onclick='column()' type="button" class="btn btn-primary"><img src="../../static/Datos/img/row.svg" alt=""
          style="width:30px;height:30px;"></button>
    </a>
    <a href="{% url 'sorted_two' %}">
      <button onclick="row()" type="button" class="btn btn-primary"><img src="../../static/Datos/img/grid.svg" alt=""
          style="width:30px;height:30px;"></button>
    </a>
  </div>
  <div class="flexi">
    {% for i in shuffle_data %}
    {% if i.allow == True %}
    <div class="w3-container" style="margin: 10px;">

      <div class="w3-card-2" style="width:100%;border-style: groove;border-radius:8px;">
        <div class="otro-container" style="position: relative;">
          <img src="{{i.imagen.url}}" alt="Alps" style="width:100%;border-radius:8px;">
          <div class="w3-display-topleft w3-container" style="color: white" ><h6 style='font-weight: bold;'>#{{i.id}}</h6></div>
        </div>
        <div class="w3-container w3-center" style='background-color: rgba(31, 23, 23, 0.822);color:wheat;'>
         
          <h6 style='float:left;'>By: {{i.autor}}</h6>
          <br>
          <br>
          <p style='text-align:center;'>{{i.contenido}}</p>
        </div>
      </div>
    </div>
    {% endif %}

  
    {% endfor %}
  </div>
  </div>
</body>

</html>